<div class="homepage">
  <h1 class="top-title">welcome back, <%= @logged_in_user.name %>! <i class="fas fa-globe-asia"></i></h1>
    <div class="logout-button">
      <button type="button" class="btn btn-outline-dark" id="logout-button"><%= link_to("logout", login_path, :method => :delete) %></button>
    </div>
  <!-- Button trigger modal -->
  <br>
  <div class="new-trip-button">
    <button type="button" class="btn btn-secondary new-trip-button" data-toggle="modal" data-target="#NewTripModal">
      New Trip
    </button>
  </div>

  <!-- cards display -->
  <div class="card-container">
    <div class="card-deck justify-content-center">

      <% @logged_in_user.trips.each do |trip| %>
        <form action="/trip/index/<%=trip.id%>" method="get">
              <!-- <%= trip_date = (trip.start_date).to_s %>
              <%= trip_datetime = trip_date[0..9].to_s %> -->
          <div class="card mb-3 border-right rounded-right d-flex align-items-center" style="border-radius: 2rem 0">
            <div class="card-body justify-content-center">
              <br>
                <h5 class="card-title"><%= trip.destination %></h5>
                <div class="inside-card">
                  <p class="card-text align-items-center justify-content-center"><%= trip_datetime %></p>
                </div>
                <br>
                <button type="submit" class="btn btn-secondary planning">keep planning <i class="fas fa-plane"></i></i></a>
            </div>
          </div>
        </form>
        <% end %>
    </div>
  </div>
  <!-- end of cards display -->

</div>

  <!-- Modal -->
  <form action="/home/new" method="post">
  <div class="modal fade" id="NewTripModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
  <%= form_with(url: "/home/new", method: "post") do %>

    <label>destination:</label>
    <input type="text" name="destination" required>
      <br>
    <label>departure date:</label>
    <input type="date" name="start_date" required>
      <br>
    <label>number of days:</label>
    <input type="number" name="num_of_days" required>
      <br>


  <% end %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">create itinerary</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
</div>
  <br>
</div>
</div>