<h2>Create An Account</h2>

<% if flash[:errors].present? %>
  <strong>Please correct the following errors:</strong>
  <ol>
    <% flash[:errors].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ol>

<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit %>
<% end %>
