<ul>
<!--  <li><%= link_to("Login", controller: "session", action: "new") %></li> -->
  <li><%= link_to("logout", login_path, :method => :delete) %></li>
</ul>
<% if @logged_in_user.nil? %>
 <!--  <h2>sign-in</h2>
  <li><%= link_to("Login", controller: "session", action: "new") %></li> -->
<% else %>
  <h2>welcome back, <%= @logged_in_user.name %>!</h2>
<% end %>

<div class="top-input">
<div class="input-group input-group-sm mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">start date</span>
  </div>
    <div class="col-xs-2">
  <input type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>

    <span class="input-group-text" id="inputGroup-sizing-sm">number of days</span>
    <div class="col-xs-2">
  <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
</div>
</div>
</div>

<h1>your trip to Australia</h1>
<p></p>

<%= month_calendar do |date| %>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= date.day %></h5>
    <p class="card-text">07:00 City Tour</p>
    <a href="#" class="card-link">+ activities</a>
  </div>
</div>

<% end %>
