<div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">edit this activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        <%= form_with(url: "/index/edit_activity/#{@this_trip.id}/#{@this_activity.id}", method: "post") do %>
          <div class="row">
            <div class="col-md-0 mx-auto">
              <div class="myform form">
                <form>
                  <div class="form-group">
                    <input type="text" name="title"  class="form-control my-input" id="title" placeholder="title" value="<%= @this_activity.title %>">
                  </div>
                  <div class="form-group">
                    <input type="time" name="time"  class="form-control my-input" id="time" value="<%= @this_activity.time %>">
                  </div>
                  <div class="form-group">
                    <input type="text" name="description"  class="form-control my-input" id="description" placeholder="description" value="<%= @this_activity.description %>">
                  </div>
                  <div class="form-group">
                    <label> start date </label>
                    <input type="date" data-date-format="DD MMMM YYYY" name="start_date"  class="form-control my-input" id="start_date" value="<%= @this_activity.start_date %>">
                  </div>
                  <div class="form-group">
                    <label> end date </label>
                    <input type="date" name="end_date"  class="form-control my-input" id="end_date" value="<%= @this_activity.end_date %>">
                  </div>
                  <div class="edit-delete">
                    <div class="edit-button">
                      <button type="submit" class="buttons">edit</button>
                    </div>
                    <div class="">
                      <button type="button" class="delete-button">
                        <%= link_to 'delete', "/index/delete_activity/#{@this_trip.id}/#{@this_activity.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<div>