<div class="calendar-page">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md h-10" style="background-color: rgba(238, 238, 238, .3); height: 7vh;">
    <a class="navbar-brand" style="margin-top: -2vh;">day-by-day</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <p> | 
            <a class="home-button" data-method="get" href="/home" title="home"> <i class="fas fa-home"></i> </a>
          </p>
        </li>
        <br>
        <li class="nav-item active">
          <p> | 
            <a data-toggle="modal" data-target="#editTripModal" class="edit-trip-button" title="edit this trip"><i class="fas fa-edit"></i></a>
          </p> 
        </li>
        <li class="nav-item active">
          <p> | </p> 
        </li>
      </ul>
      <span class="navbar-text">
        <a class="logout-button" data-method="get" href="/logout" title="logout"> <i class="fas fa-sign-out-alt"></i> </a>
      </span> 
    </div>
  </nav>
  <!-- end of Navbar -->
  <div class="animated jello delay-2s">
    <div class="cal-title">
      <div class ="cal-title-content">
        <h3 class="top-title"><%= @logged_in_user.name %>, this is your trip to <%=@this_trip.destination%></i></h3>
        <h5 class="middle-title"><i class="fas fa-plane-departure"></i> starting on <%=@this_trip.start_date.strftime("%d %b %y")%></i></h3>
        <h5 class="middle-title"><i class="fas fa-plane-arrival"></i> finishing on <%=@this_trip.end_date.strftime("%d %b %y")%></i></h3>
      </div>
    </div>
  </div>
  <div class="show-calendar">
    <button type="button" class="btn btn-outline-dark">
      <%= link_to 'view calendar', "/trip/index/#{@this_trip.id}?start_date=#{@this_trip.start_date}" %>
    </button>  
  </div>
  <!-- CALENDAR -->
  <div class="calendar-body">
    <p id="notice"><%= notice %></p>
      <%= month_calendar  do |date | %>
      <div class="card">
        <div class="card-body">
          <div class="add-activities">
            <a class="card-link" data-toggle="modal" data-target="#newActivityModal" > <i class="fas fa-plus-circle"></i> </a>
          </div>
            <h5 class="cal-card-title"> <%= date.day %> </h5>
            <!-- Add Activity Modal -->
            <div class="modal fade" id="newActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">add new activity</h5>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <%= form_with(url: "/new/activities/#{(@this_trip.id).to_i}", method: "post") do %>
                      <div class="row">
                        <div class="col-md-0 mx-auto">
                          <div class="myform form">
                            <form>
                              <div class="form-group">
                                <input type="text" name="title"  class="form-control my-input" id="title" placeholder="title" required>
                              </div>
                              <div class="form-group">
                                <input type="time" name="time"  class="form-control my-input" id="time" placeholder="time" required>
                              </div>
                              <div class="form-group">
                                <input type="text" name="description"  class="form-control my-input" id="description" placeholder="description" required>
                              </div>
                              <div class="form-group">
                                <label> start date </label>
                                <input type="date" name="start_date"  class="form-control my-input" id="start_date" value="<%= @this_trip.start_date %>">
                              </div>
                              <div class="form-group">
                                <label> end date </label>
                                <input type="date" name="end_date"  class="form-control my-input" id="end_date" placeholder="end date" required>
                              </div>
                              <div class="buttons">
                                <button type="submit" class="btn btn-secondary" id="create-button">add activity</button>
                              </div>
                            </form>
                              </div> 
                            </div>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  <div>
                </div>
              </div>
            </div>
            <!-- end of Add Activity Modal -->
          <% @this_trip.activities.each do |activity| %>
            <% if date === activity.start_date %>
            <form action="/index/activity/<%=@this_trip.id%>/<%=activity.id%>" method="get">
              <button type="submit" class="activity-text"><%= activity.time%>: <%= activity.title %></button>
            </form>
            <!-- Show Activity Modal -->
            <div class="modal fade" id="showActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                      <h3 class="modal-title"><%= activity.title%></h3><br>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <p>start time: <%= activity.time%></p>
                      <p>description: <%= activity.description%></p>
                    </div>
                  </div>
            <!-- Edit Activity Modal -->
            <div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">edit your trip</h5>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                    <%= form_with(url: "/index/edit_activity/#{@this_trip.id}/#{activity.id}", method: "post") do %>
                      <div class="row">
                        <div class="col-md-0 mx-auto">
                          <div class="myform form">
                            <form>
                              <div class="form-group">
                                <input type="text" name="title"  class="form-control my-input" id="title" placeholder="title" value="<%= activity.title %>">
                              </div>
                              <div class="form-group">
                                <input type="time" name="time"  class="form-control my-input" id="time" value="<%= activity.time %>">
                              </div>
                              <div class="form-group">
                                <input type="text" name="description"  class="form-control my-input" id="description" placeholder="description" value="<%= activity.description %>">
                              </div>
                              <div class="form-group">
                                <label> start date </label>
                                <input type="date" data-date-format="DD MMMM YYYY" name="start_date"  class="form-control my-input" id="start_date" value="<%= activity.start_date %>">
                              </div>
                              <div class="form-group">
                                <label> end date </label>
                                <input type="date" name="end_date"  class="form-control my-input" id="end_date" value="<%= activity.end_date %>">
                              </div>
                              <div class="edit-delete">
                                <button type="submit" class="btn btn-secondary">edit</button>
                                <div class="delete-button">
                                  <button type="button" class="btn btn-outline-danger"> <%= link_to 'delete', "/index/delete_activity/#{@this_trip.id}/#{activity.id}", method: :delete, data: { confirm: 'Are you sure?' } %></button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <div>
            <!-- end of Edit Activity Modal -->
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- end of Show Activity Modal -->
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
    </p>
  </div>
  <!-- end of CALENDAR -->
</div>


<script type="text/javascript">
  window.onload = function () {
        $('.calendar-body').hide();
    };
</script>