<!-- <%= @this_trip_date = (@this_trip.start_date).to_s %>
<%= @this_trip_datetime = @this_trip_date[0..9].to_s %> -->
<div class="calendar-page">

<nav class="navbar navbar-expand-md h-10" style="background-color: rgba(238, 238, 238, .3); height: 7vh;">
  <a class="navbar-brand" style="margin-top: -2vh;">day-by-day</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <p> | 
        <a><%= link_to("home", home_path, :method => :get) %></a>
        </p>
      </li>
      <br>
      <li class="nav-item active">
        <p> | 
        <a data-toggle="modal" data-target="#editTripModal" class="edit-trip-button">edit trip</a>
        </p> 
      </li>
      <li class="nav-item active">
        <p> | </p> 
      </li>
    </ul>
    <span class="navbar-text">
    <div class="cal-top-buttons">
      <div class="logout-button-cal">
        <button type="button" class="btn btn-outline-dark" id="logout-button-cal"><%= link_to("logout", '/logout', :method => :post) %></button>
      </div>
    </div>    
    </span>
  </div>
</nav>

  <h3 class="top-title"><%= @logged_in_user.name %>, this is your trip to <%=@this_trip.destination%> <i class="fas fa-puzzle-piece"></i></h3>
  <br>
  <div class="cal-top-buttons-container">

  <br>
  <br>
  <br>

  <!-- CALENDAR -->
    <p id="notice"><%= notice %></p>

  <%= month_calendar  do |date | %>
    <div class="card">
    <div class="card-body">
      <h5 class="cal-card-title"><%= date.day %></h5>
    <% @this_trip.activities.each do |activity| %>
      <!-- <%= activity_date = (activity.start_date).to_s %>
      <%= activity_datetime = activity_date[0..9].to_datetime %> -->
    <% if date === activity_datetime %>

      <p class="activity-text" data-toggle="modal" data-target="#showActivityModal"><%= activity.time%>- <%= activity.title%></p>
<!-- Show Activity Modal -->
<div class="modal fade" id="showActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
          <h3 class="modal-title"><%= activity.title%></h3><br>
      </div>
      <div class="modal-body">
        <div class="container">
          <p>start time: <%= activity.time%></p>
          <p>description: <%= activity.description%></p>
        </div>
      
           <!-- Edit Activity Button -->
        <div class="edit-activity-button">
          <button type="button" class="btn btn-outline-dark" id="edit-activity-button" data-toggle="modal" data-target="#editActivityModal">edit activity</button>
        </div>
        </div>


   <!-- Edit Activity Modal -->
  <%= form_with(url: "/index/edit_activity/#{@this_trip.id}/#{activity.id}", method: "post") do %>
<div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h3 class="modal-title"></h3><br>


    <label>title:</label>
    <input type="text" name="title" value="<%= activity.title%>">
      <br>
    <label>time:</label>
    <input type="text" name="time" value="<%= activity.time%>">
      <br>
    <label>description:</label>
    <input type="text" name="description" value="<%= activity.description%>">
      <br>
    <label>start date:</label>
    <input type="date" name="start_date" value="<%= activity.start_date%>">
      <br>
    <label>end date:</label>
    <input type="date" name="start_date" value="<%= activity.end_date%>">
      <br>
      
    <button type="submit" class="btn btn-secondary">edit</button>

  <% end %>
          <button type="button" class="btn btn-outline-danger"><%= link_to 'delete', "/index/delete_activity/#{@this_trip.id}/#{activity.id}", method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- end of Edit Activity Modal -->
   
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- end of Show Activity Modal -->
  <% end %>
  <% end %>
      <a href="#" class="card-link" data-toggle="modal" data-target="#NewActivityModal" > + activities </a>
    </div>
  </div>
      <% end %>

  <!-- end of CALENDAR -->

<!--
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
  <% @logged_in_user.trips do |trip| %>
      <%= @trip_activities = trip.activities %></p>
    <% @trip_activities.each do |activity| %>

        <tr>
          <td><%= @activity.title %></td>
          <td><%= @activity.description %></td>
          <td><%= @activity.start_date %></td>
          <td><%= @activity.end_date %></td>
          <td><%= link_to 'Show', activity %></td>
          <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
          <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>

    New Trip
  </button>
      <a href="#" class="card-link"> <%= link_to '+ activities', new_activity_path  %> </a>
    </div>
  </div>
      <% end %>
      <% end %>

  <% @activities.each do |activity| %>
      <button type="submit" class="btn btn-primary"><p><%= activity.title %></p></button>
      <button type="submit" class="btn btn-primary"><p><%= activity.description %></p></button>
    <% end %>
-->

<!-- Add Activity Modal -->
  <div class="modal fade" id="NewActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">add new activity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">

  <%= form_with(url: "/new/activities/#{(@this_trip.id).to_i}", method: "post") do %>

    <label>title:</label>
    <input type="text" name="title" required>
      <br>
    <label>time:</label>
    <input type="text" name="time">
      <br>
    <label>description:</label>
    <input type="text" name="description">
      <br>
    <label>start date:</label>
    <input type="date" name="start_date" required>
      <br>
    <label>end date:</label>
    <input type="date" name="end_date" required>
      <br>
          <button type="submit" class="btn btn-primary">create activity</button>

  <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>
  </div>

<div>
</div>
<!-- end of Add Activity Modal -->
<!-- Edit Trip Modal -->
<div class="modal fade" id="editTripModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h3 class="modal-title"></h3><br>
  <%= form_with(url: "/index/edit_trip/#{@this_trip.id}", method: "post") do %>
    <label>destination:</label>
    <input type="text" name="destination" value="<%= @this_trip.destination%>">
      <br>
    <label>start date:</label>
    <input type="date" name="start_date" value="<%= @this_trip.start_date%>">
      <br>
    <label>end date:</label>
    <input type="date" name="end_date" value="<%= @this_trip.end_date%>">
      <br>

          <button type="submit" class="btn btn-secondary">edit</button>

  <% end %>
          <button type="button" class="btn btn-outline-danger"><%= link_to 'delete', "/index/delete_trip/#{@this_trip.id}", method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- end of Edit Trip Modal -->