<!-- Navbar -->
<%= render 'trips/navbar'%>
<!-- end of Navbar -->
<div class="activity-page">
  <div class="activity-list-box">
      <p class="activity-list-title"> title </p>
      <p class="activity-list"><%= @this_activity.title %></p>
      <p class="activity-list-title"> time </p>
      <p class="activity-list"><%= @this_activity.time %></p>
      <p class="activity-list-title"> description </p>
      <p class="activity-list"><%= @this_activity.description %></p>
      <p class="activity-list-title"> date </p>
      <p class="activity-list"><%= @this_activity.start_date %></p>
  </div>

    <!-- Edit Activity Button -->
    <div class="activity-buttons"> 
      <div class="back-button">
        <button type="submit" class="buttons">
          <a href=
          "/trip/index/<%=@this_trip.id%>/<%=@this_trip.start_date%>?start_date=<%=@this_trip.start_date%>"
          method="get"> back
          </a >
        </button>
      </div>
      
      <div class="edit-activity-button">
        <button type="button" class="buttons" id="edit-activity-button" 
        data-toggle="modal" data-target="#editActivityModal">edit</button>
      </div> 
      
    </div>

    <footer class="bottom-space"></footer>

</div>
<!-- Edit Activity Modal -->
<%= render 'activities/edit-activity'%>
<!-- end of Edit Activity Modal -->
